## Dictionaries
    - This is representation of the data structure
        - HashMap
    - Properties
        - represented using {} or dict()
        - from python 3.6 onwards, the order of dict is maintained
            - In older versions, OrderedDict module should be used for the same
        - Any data type can be used for dict values
        - dict keys should be immutables only

In [1]:
empty_dict = {}
print(empty_dict, type(empty_dict))

empty_dict = dict()
print(empty_dict, type(empty_dict))

empty_set = set()
print(empty_set, type(empty_set))

{} <class 'dict'>
{} <class 'dict'>
set() <class 'set'>

In [2]:
# - with values
other_set = {12, 34}
print(other_set, type(other_set))

other_dict = {12: 34, 34: 56}
print(other_dict, type(other_dict))

{34, 12} <class 'set'>
{12: 34, 34: 56} <class 'dict'>

In [3]:
dict_with_single_pair = {"a": 1}
print(dict_with_single_pair, type(dict_with_single_pair))
print(f"{len(dict_with_single_pair) =}")

{'a': 1} <class 'dict'>
len(dict_with_single_pair) =1

In [4]:
alphabhets = {"b": 2, "a": 1, "c": 3, "d": 4}
print(alphabhets)

{'b': 2, 'a': 1, 'c': 3, 'd': 4}

In [8]:
# In python < 3.6, use below code to retaining the assigned order

# import OrderedDict
# ModuleNotFoundError: No module named 'OrderedDict'


from collections import OrderedDict

alphabhets = OrderedDict({"b": 2, "a": 1, "c": 3, "d": 4})
print(alphabhets)

OrderedDict({'b': 2, 'a': 1, 'c': 3, 'd': 4})

In [10]:
person_details = {
    "name": "Gudo Van Russom",
    "age": 67,
    "salary": 1233123.12,
    "children": ["mary", "John"],
    "parents": ("Sam Russom", "Michel Russom"),
    1: [12, 3, 12],
    -1213.213: {33, 33},
    ("Dr", "Mr"): "titles",
    None: "This is None",
    # [12, 23]: 'something',
    tuple([12, 23]): "something",
}

In [11]:
print(person_details)

{'name': 'Gudo Van Russom', 'age': 67, 'salary': 1233123.12, 'children': ['mary', 'John'], 'parents': ('Sam Russom', 'Michel Russom'), 1: [12, 3, 12], -1213.213: {33}, ('Dr', 'Mr'): 'titles', None: 'This is None', (12, 23): 'something'}

In [12]:
from pprint import pprint 
pprint(person_details)

{None: 'This is None',
 -1213.213: {33},
 1: [12, 3, 12],
 'age': 67,
 'children': ['mary', 'John'],
 'name': 'Gudo Van Russom',
 'parents': ('Sam Russom', 'Michel Russom'),
 'salary': 1233123.12,
 ('Dr', 'Mr'): 'titles',
 (12, 23): 'something'}

In [13]:
from pprint import pp 
pp(person_details)

{'name': 'Gudo Van Russom',
 'age': 67,
 'salary': 1233123.12,
 'children': ['mary', 'John'],
 'parents': ('Sam Russom', 'Michel Russom'),
 1: [12, 3, 12],
 -1213.213: {33},
 ('Dr', 'Mr'): 'titles',
 None: 'This is None',
 (12, 23): 'something'}

In [14]:
person_details

{'name': 'Gudo Van Russom',
 'age': 67,
 'salary': 1233123.12,
 'children': ['mary', 'John'],
 'parents': ('Sam Russom', 'Michel Russom'),
 1: [12, 3, 12],
 -1213.213: {33},
 ('Dr', 'Mr'): 'titles',
 None: 'This is None',
 (12, 23): 'something'}

In [15]:
pp(person_details, indent=4 )

{   'name': 'Gudo Van Russom',
    'age': 67,
    'salary': 1233123.12,
    'children': ['mary', 'John'],
    'parents': ('Sam Russom', 'Michel Russom'),
    1: [12, 3, 12],
    -1213.213: {33},
    ('Dr', 'Mr'): 'titles',
    None: 'This is None',
    (12, 23): 'something'}

In [16]:
# NOTE:
# 1. general print() will retain dict order
# 2. pprint() will sort by keys and display
# 3. pp() will retain dict order, as created.

In [17]:
# hashability 

hash( (1, 2, 3, 4)    )

590899387183067792

In [18]:
hash( (1, 2, 3, 4, [5, 6])    )

TypeError: unhashable type: 'list'

In [19]:
hash( (1, 2, 3, 4, tuple([5, 6])  )    )

-7649436551191232170

In [20]:
hash( (1, 2, 3, 4, tuple([5, 6, [7, 8]])  )    )

TypeError: unhashable type: 'list'

In [21]:
# NOTE: hashable means anywhere in deep level too, it should not have mutable objects

### Iterating over Dictionaries

In [22]:
for val in [1, 2, 3, 4]:
    print(val)

1
2
3
4

In [23]:
for val in (1, 2, 3, 4):
    print(val)

1
2
3
4

In [24]:
for val in {1, 2, 3, 4}:
    print(val)

1
2
3
4

In [25]:
for key in {1: 'a', 2: 'b', 3: 'c', 4: 'd'}:
    print(key)

1
2
3
4

In [26]:
for key in {1: 'a', 2: 'b', 3: 'c', 4: 'd'}.keys():
    print(key)

1
2
3
4

In [27]:
# NOTE: by default, when itera=ting on dict, it will give keys only

In [28]:
for value in {1: 'a', 2: 'b', 3: 'c', 4: 'd'}.values():
    print(value)

a
b
c
d

In [29]:
for key, value in {1: 'a', 2: 'b', 3: 'c', 4: 'd'}.values():
    print(value)

ValueError: not enough values to unpack (expected 2, got 1)

In [31]:
for key, value in {1: 'a', 2: 'b', 3: 'c', 4: 'd'}.items():
    print(key, value )

1 a
2 b
3 c
4 d

In [32]:
person_details = {
    "name": "Narendra Modi",
    "age": 67,
    "salary": 2_00_000,
    "role": "CM of Gujarat",
    "role": "PM of India",  # latest will be stored
}
print(person_details)

{'name': 'Narendra Modi', 'age': 67, 'salary': 200000, 'role': 'PM of India'}

In [34]:
# To get the dictionary keys
print(f"{person_details.keys()   = }")

# To get the dictionary values
print(f"{person_details.values() = }")

# To get both keys & values as pairs
print(f"{person_details.items() = }")

person_details.keys()   = dict_keys(['name', 'age', 'salary', 'role'])
person_details.values() = dict_values(['Narendra Modi', 67, 200000, 'PM of India'])
person_details.items() = dict_items([('name', 'Narendra Modi'), ('age', 67), ('salary', 200000), ('role', 'PM of India')])

In [35]:
type(person_details.keys())

dict_keys

In [36]:
print("\n Iterating over the dictionary ")
for each in person_details:
    print(each)

# NOTE: By default, when iterating over dict, it will give dict keys only
print("\n person_details.keys()")
for each in person_details.keys():
    print(each)

print("\n person_details.values()")
for each in person_details.values():
    print(each)

 Iterating over the dictionary
name
age
salary
role

 person_details.keys()
name
age
salary
role

 person_details.values()
Narendra Modi
67
200000
PM of India

In [37]:
print("\n person_details.items()")
for each in person_details.items():
    print(each)  # each - is a tuple object

 person_details.items()
('name', 'Narendra Modi')
('age', 67)
('salary', 200000)
('role', 'PM of India')

In [38]:

print("\n person_details.items()")
for each_key, each_value in person_details.items():
    print(f"{each_key}\t{each_value}")

 person_details.items()
name	Narendra Modi
age	67
salary	200000
role	PM of India

###  Dictionary operations

In [39]:
employee = {
    "name": "Saurav Ganguly",
    "status": "retired",
    "salary": 12_222_213,
    "strike_rate": 85 / 100,
}

In [41]:
# Indexing is done with keys, instead of indices

# Indexing in Dictionaries
print("Employee Name  :", employee["name"])
print("Employee Status:", employee["status"])

Employee Name  : Saurav Ganguly
Employee Status: retired

In [42]:
employee.name

AttributeError: 'dict' object has no attribute 'name'

In [43]:
try:
    employee["no_of_centuries"]
except KeyError as ex:
    print(f"No such key :{str(ex)}")

No such key :'no_of_centuries'

In [44]:
# Dictionaries are mutable
print()
print(f"Before change: {id(employee) = }")

Before change: id(employee) = 133328325090432

In [45]:
# Updating value for existing key
employee["status"] = "rejoined"
print("Employee Status:", employee["status"])
print(f"After change : {id(employee) = }")

Employee Status: rejoined
After change : id(employee) = 133328325090432

In [46]:
employee

{'name': 'Saurav Ganguly',
 'status': 'rejoined',
 'salary': 12222213,
 'strike_rate': 0.85}

In [47]:
# To add a new key
employee["no_of_centuries"] = 345


employee

{'name': 'Saurav Ganguly',
 'status': 'rejoined',
 'salary': 12222213,
 'strike_rate': 0.85,
 'no_of_centuries': 345}

In [48]:
# Difference ways of indexing
# Question: dict['key'] vs dict.get() vs dict.setdefault

In [49]:
print(f"{employee['strike_rate'] =}")

employee['strike_rate'] =0.85

In [50]:
try:
    print(f"{employee['no_of_catches'] =}")
except KeyError as ex:
    print(f"No such key :{str(ex)}")

No such key :'no_of_catches'

In [52]:
print(f"{employee.get('strike_rate')                    =}")
print(f"{employee.get('no_of_catches')                  =}")
# NOTE: dict.get() - returns None if key is not present

employee.get('strike_rate')                    =0.85
employee.get('no_of_catches')                  =None

In [53]:
print(f"{employee.get('no_of_catches', None)            =}")
print(f"{employee.get('no_of_catches', 'No such key')   =}")
print(f"{employee.get('no_of_catches', 234)             =}")

employee.get('no_of_catches', None)            =None
employee.get('no_of_catches', 'No such key')   ='No such key'
employee.get('no_of_catches', 234)             =234

In [54]:
employee

{'name': 'Saurav Ganguly',
 'status': 'rejoined',
 'salary': 12222213,
 'strike_rate': 0.85,
 'no_of_centuries': 345}

In [55]:
print(f"{employee.setdefault('strike_rate')        =}")
print(f"{employee.setdefault('no_of_catches')      =}")  # default is None

employee.setdefault('strike_rate')        =0.85
employee.setdefault('no_of_catches')      =None

In [56]:
employee

{'name': 'Saurav Ganguly',
 'status': 'rejoined',
 'salary': 12222213,
 'strike_rate': 0.85,
 'no_of_centuries': 345,
 'no_of_catches': None}

In [57]:
print(f"{employee.setdefault('no_of_catches', 234) =}")
# As this key is present now, default values is not taken

employee

employee.setdefault('no_of_catches', 234) =None

{'name': 'Saurav Ganguly',
 'status': 'rejoined',
 'salary': 12222213,
 'strike_rate': 0.85,
 'no_of_centuries': 345,
 'no_of_catches': None}

In [58]:
print(f"{employee.setdefault('ODI_matches_played', 155) =}")


employee

employee.setdefault('ODI_matches_played', 155) =155

{'name': 'Saurav Ganguly',
 'status': 'rejoined',
 'salary': 12222213,
 'strike_rate': 0.85,
 'no_of_centuries': 345,
 'no_of_catches': None,
 'ODI_matches_played': 155}

In [59]:
#  in - operator - membership check
print(f"{'no_of_catches' in employee            =}")
print(f"{employee.__contains__('no_of_catches')   =}")

'no_of_catches' in employee            =True
employee.__contains__('no_of_catches')   =True

In [60]:
print(f"{'no_of_wickets' in employee            =}")
print(f"{employee.__contains__('no_of_wickets') =}")

'no_of_wickets' in employee            =False
employee.__contains__('no_of_wickets') =False

In [61]:
if "no_of_catches" in employee:
    print("no_of_catches:", employee["no_of_catches"])
else:
    print("No such key")

no_of_catches: None

In [62]:
language = dict()

In [63]:
language

{}

In [64]:
# add new keys
language["name"] = "Python"
language["creator"] = "Gudo Van Russum"

In [65]:
language

{'name': 'Python', 'creator': 'Gudo Van Russum'}

In [66]:
# add single key value pair
language["latest_version"] = "2.7.16"


language

{'name': 'Python', 'creator': 'Gudo Van Russum', 'latest_version': '2.7.16'}

In [67]:
# Add more key-value pair in bulk
python_dict = {
    "name": "Python",
    "maintainer": "Almighty",
    "latest_version": "3.8.5",
    "dev_version": "3.9",
}
python_dict

{'name': 'Python',
 'maintainer': 'Almighty',
 'latest_version': '3.8.5',
 'dev_version': '3.9'}

In [68]:
# Dictionary concatenation
language + python_dict

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [69]:
language.update(python_dict)

In [70]:
language

{'name': 'Python',
 'creator': 'Gudo Van Russum',
 'latest_version': '3.8.5',
 'maintainer': 'Almighty',
 'dev_version': '3.9'}

In [71]:
python_dict

{'name': 'Python',
 'maintainer': 'Almighty',
 'latest_version': '3.8.5',
 'dev_version': '3.9'}

In [72]:
# NOTE:
# 1. first dictionary is modified, and not the second one
# 2. If keys are present, values will be updates,
#  else new key-values pairs will be created

In [73]:
python_dict.update({"dev_version": "3.9.0rc"})


python_dict

{'name': 'Python',
 'maintainer': 'Almighty',
 'latest_version': '3.8.5',
 'dev_version': '3.9.0rc'}

In [74]:
# For deleting key-value pairs

In [75]:
python_dict.pop()

TypeError: pop expected at least 1 argument, got 0

In [76]:
print(f"{python_dict.pop('maintainer') =}")
print(python_dict)

python_dict.pop('maintainer') ='Almighty'
{'name': 'Python', 'latest_version': '3.8.5', 'dev_version': '3.9.0rc'}

In [77]:
try:
    print(f"{python_dict.pop('maintainer') =}")
except KeyError as ex:
    print("no such key", ex)

no such key 'maintainer'

In [79]:
print(f"{python_dict.pop('maintainer', None)          =}")
print(f"{python_dict.pop('maintainer', 'no such key') =}")
print(python_dict)

python_dict.pop('maintainer', None)          =None
python_dict.pop('maintainer', 'no such key') ='no such key'
{'name': 'Python', 'latest_version': '3.8.5', 'dev_version': '3.9.0rc'}

In [80]:
# last key-value pair will be deleted
python_dict.popitem()

('dev_version', '3.9.0rc')

In [81]:
python_dict.popitem()

('latest_version', '3.8.5')

In [82]:
python_dict

{'name': 'Python'}

In [83]:
python_dict.clear()

In [84]:
python_dict

{}

In [88]:
python_dict = {'name': 'Gudo VAn russum', 'age': 76}
python_dict['name']

'Gudo VAn russum'

In [89]:
del python_dict['name']

In [90]:
python_dict

{'age': 76}

In [91]:
del python_dict

In [93]:
python_dict

NameError: name 'python_dict' is not defined

In [94]:
#  Merging two dicts
a = {"one": 1}
b = {"one": 2, "two": 2}

In [95]:
# Dict unpacking
c = {**a, **b}
print(f"{c =}")  # {'one': 2, 'two': 2}

c ={'one': 2, 'two': 2}

In [96]:
**b

SyntaxError: invalid syntax (3173213217.py, line 1)

In [97]:
{**b}

{'one': 2, 'two': 2}

In [98]:
import collections 

c2 = collections.ChainMap(a, b)
print(f"{c2=}")  # ChainMap({'one': 1}, {'one': 2, 'two': 2})

c2=ChainMap({'one': 1}, {'one': 2, 'two': 2})

In [99]:
dict(c2)

{'one': 1, 'two': 2}

In [100]:
# Python 3.9+
d = a | b
print(f"{d = }")  # {'one': 2, 'two': 2}

d = {'one': 2, 'two': 2}

In [101]:
print(f"{a = }")
print(f"{b = }")

a |= b
print(f"{a = }")
print(f"{b = }")

a = {'one': 1}
b = {'one': 2, 'two': 2}
a = {'one': 2, 'two': 2}
b = {'one': 2, 'two': 2}

In [102]:
# set Union Is Not Commutative
print({0} | {False})  # {0}
print({False} | {0})  # {False}

{0}
{False}

In [103]:
print({0: "0"} | {False: "False"})  # {0: 'False'}
print({False: "False"} | {0: "0"})  # {False: '0'}

{0: 'False'}
{False: '0'}

In [104]:
mydict = {0: "zero", False: "False", 1: "one", True: "True"}
print(mydict)

{0: 'False', 1: 'True'}

In [105]:
mydict = {False: "False", 0: "zero", True: "True", 1: "one"}
print(mydict)

{False: 'zero', True: 'one'}

In [106]:
## Assignment -- create a dict one with single dimension and another with dict with dict (mulgti-dimension) and see the importanvce of dict.copy() (shallow copy ) and copy.deepcopy

## ways of defining dictionaries

In [107]:
# ways of creating dictionary
a = {"one": 1, "two": 2, "three": 3}
b = dict(one=1, two=2, three=3)
c = dict([("two", 2), ("one", 1), ("three", 3)])
d = dict(zip(["one", "two", "three"], [1, 2, 3]))
e = dict({"three": 3, "one": 1, "two": 2})

assert a == b == c == d == e

In [108]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [109]:
tuple("python")

('p', 'y', 't', 'h', 'o', 'n')

In [110]:
set("python")

{'h', 'n', 'o', 'p', 't', 'y'}

In [111]:
dict("python")

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [112]:
dict("python", "language")

TypeError: dict expected at most 1 argument, got 2

In [113]:
zip("python", "language")

In [114]:
list(    zip("python", "language")     )

[('p', 'l'), ('y', 'a'), ('t', 'n'), ('h', 'g'), ('o', 'u'), ('n', 'a')]

In [115]:
dict(    zip("python", "language")     )

{'p': 'l', 'y': 'a', 't': 'n', 'h': 'g', 'o': 'u', 'n': 'a'}

In [116]:
# creating dict from pairs
data = [(1, "red"), (2, "blue"), (3, "yellow")]
print(dict(data))

{1: 'red', 2: 'blue', 3: 'yellow'}

In [117]:
data = [("red", 1), ("blue", 2), ("yellow", 3)]
print(dict(data))

{'red': 1, 'blue': 2, 'yellow': 3}

In [118]:
data = (("red", 1), ("blue", 2), ("yellow", 3))
print(dict(data))

{'red': 1, 'blue': 2, 'yellow': 3}

In [119]:
data = {("red", 1), ("blue", 2), ("yellow", 3)}
print(dict(data))

{'red': 1, 'blue': 2, 'yellow': 3}

In [120]:
data = (["red", 1], ["blue", 2], ("yellow", 3))
print(dict(data))

{'red': 1, 'blue': 2, 'yellow': 3}

In [121]:
data = (['red', 1, 'A'], ['blue', 2, 'B'], ('yellow', 3, "C"))
print(dict(data))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [122]:
data = (["red", (1, "A")], ["blue", (2, "B")], ("yellow", (3, "C")))
print(dict(data))

data = ([("red", 1), "A"], [("blue", 2), "B"], ("yellow", (3, "C")))
print(dict(data))

{'red': (1, 'A'), 'blue': (2, 'B'), 'yellow': (3, 'C')}
{('red', 1): 'A', ('blue', 2): 'B', 'yellow': (3, 'C')}

In [125]:
cities = (   "New Delhi", "New York", "Shangai", "Berlin")
countries = ["India",     "USA",      "China",   "Germany", "London"]

zip(cities, countries)

In [126]:
list( zip(cities, countries) )

[('New Delhi', 'India'),
 ('New York', 'USA'),
 ('Shangai', 'China'),
 ('Berlin', 'Germany')]

In [127]:
dict( zip(cities, countries) )

{'New Delhi': 'India',
 'New York': 'USA',
 'Shangai': 'China',
 'Berlin': 'Germany'}

In [128]:
cities_n_countries = dict(zip(cities, countries))
pprint(cities_n_countries)


counties_n_cities = dict(zip(countries, cities))
pprint(counties_n_cities)

{'Berlin': 'Germany',
 'New Delhi': 'India',
 'New York': 'USA',
 'Shangai': 'China'}
{'China': 'Shangai',
 'Germany': 'Berlin',
 'India': 'New Delhi',
 'USA': 'New York'}

In [129]:
print(dict(zip("Python", range(6))))
print(dict(zip("Python", "fish")))

{'P': 0, 'y': 1, 't': 2, 'h': 3, 'o': 4, 'n': 5}
{'P': 'f', 'y': 'i', 't': 's', 'h': 'h'}

In [130]:
# Question: How to interchange keys with values in dict
my_dict = dict(zip((1, 2, 3, 4), "abcdef"))
print(my_dict)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [131]:
# question - How to reverse the key -values as values-keys
reverse_dict = {}
for each_key, each_value in my_dict.items():
    # print(f"{each_key =} \t {each_value =}")
    # reverse_dict[each_key] = each_value
    reverse_dict[each_value] = each_key

reverse_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}