## Mutability 
  -- Ability to make changes on the object, in-place

    Mutable objects: List, set, dict
    immutable objects: int, float, str, bool, None, tuple, frozenset, iterator

In [1]:
num1 = 1234
print(f"{num1 =} {type(num1)} {id(num1)=}")  # 139522148806288

num1 = 9999
print(f"{num1 =} {type(num1)} {id(num1)=}")  # 139522148806832

num1 =1234 <class 'int'> id(num1)=139522148806288
num1 =9999 <class 'int'> id(num1)=139522148806832

In [2]:
print("\nString is a immutable object ===")
name = "Raj Sekhar"
print(f"name         :{name}")
print(f"name[0:3]    :{name[0:3]}")

String is a immutable object ===
name         :Raj Sekhar
name[0:3]    :Raj

In [3]:
name[0:3] = 'Tej'

TypeError: 'str' object does not support item assignment

In [5]:
print("id(name)", id(name))   # 139522147772208

name = "Tej Sekhar"           # overwriting the object

print("id(name)", id(name))   # 139521890292656

id(name) 139522147772208
id(name) 139521890292656

In [6]:
# multi-dimensional lists
ml = [1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
#     0  1  2   3   4  --------5--------
#                       0  1  2   --3--
#                                 0   1

In [7]:
ml

[1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]

In [8]:
print("List is a mutable object =======")
print("ml           ", ml)          # value
print("type(ml)     ", type(ml))    # data type
print("id(ml)       ", id(ml))      # address location - 139521890455104

List is a mutable object =======
ml            [1, 2, 3, 4.3, 5, [6, 7, 8, (9, 10)]]
type(ml)      <class 'list'>
id(ml)        139521890455104

In [9]:
print(f"{ml[3] = }")  # 4.3

ml[3] = 4.3

In [10]:
ml[3] = 3.4
print("ml           ", ml)
print("id(ml)       ", id(ml))

ml            [1, 2, 3, 3.4, 5, [6, 7, 8, (9, 10)]]
id(ml)        139521890455104

In [11]:

ml[1:4] = [2, 2, 2]

print("ml           ", ml)
print("id(ml)       ", id(ml))

ml            [1, 2, 2, 2, 5, [6, 7, 8, (9, 10)]]
id(ml)        139521890455104