## List Attributes

In [1]:
mylist1 = [1, 11, 111, [11]]
print("mylist1       = ", mylist1)

mylist2 = [2, 22, 222]
print("mylist2       = ", mylist2)

mylist1       =  [1, 11, 111, [11]]
mylist2       =  [2, 22, 222]

In [2]:
# list concatenation
newlist = mylist1 + mylist2

In [4]:
print("newlist       = ", newlist)
print("type(newlist) = ", type(newlist))

newlist       =  [1, 11, 111, [11], 2, 22, 222]
type(newlist) =  <class 'list'>

In [6]:
print("commutative prop :", mylist1 + mylist2 == mylist2 + mylist1)
print("mylist1 + mylist2", mylist1 + mylist2)
print("mylist2 + mylist1", mylist2 + mylist1)

commutative prop : False
mylist1 + mylist2 [1, 11, 111, [11], 2, 22, 222]
mylist2 + mylist1 [2, 22, 222, 1, 11, 111, [11]]

__Assignment:__ List repetition is commutative

In [7]:
print(dir(mylist1))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [8]:
for each_attribute in dir(mylist1):
    if not each_attribute.startswith("__"):
        print(each_attribute, end=",")

append,clear,copy,count,extend,index,insert,pop,remove,reverse,sort,

In [10]:
print(f"\n{mylist1             =}")

print(f"{mylist1.count(2)    =}")
print(f"{mylist1.count(11)   =}")
print(f"{mylist1.count([11]) =}")

mylist1             =[1, 11, 111, [11]]
mylist1.count(2)    =0
mylist1.count(11)   =1
mylist1.count([11]) =1

In [11]:
print(f'{mylist1[2].count(11)   =}')

AttributeError: 'int' object has no attribute 'count'

In [12]:
print(f"{mylist1[3].count(11)   =}")
print(f"{mylist1[3].count([11]) =}")

mylist1[3].count(11)   =1
mylist1[3].count([11]) =0

#### Question: append vs Extend vs insert

In [13]:
mylist = [11, 22, 33]

In [14]:
mylist.append(44)

In [15]:
mylist

[11, 22, 33, 44]

In [16]:
mylist.append(44)

mylist

[11, 22, 33, 44, 44]

In [17]:
mylist.append(None)

mylist

[11, 22, 33, 44, 44, None]

In [18]:
mylist.append([55, 66])

mylist

[11, 22, 33, 44, 44, None, [55, 66]]

In [19]:
mylist.extend(77)

TypeError: 'int' object is not iterable

In [20]:
# iterables - string, collections(list, tuple, set, dict), range, iterator, generator

In [21]:
mylist.extend([77])


mylist

[11, 22, 33, 44, 44, None, [55, 66], 77]

In [22]:
mylist.extend((88))

mylist

TypeError: 'int' object is not iterable

In [23]:
mylist.extend((88,))

mylist

[11, 22, 33, 44, 44, None, [55, 66], 77, 88]

In [24]:
mylist.extend([111, (222, 333)])

mylist

[11, 22, 33, 44, 44, None, [55, 66], 77, 88, 111, (222, 333)]

In [25]:
# NOTE: Both list.append and list.extend CAN add at the end of list only
# 1. list.append - can take single element, or an iterable. Adds as it is
# 2. list.extend will take only iterable. Adds to same dimension

In [26]:
fruits = []
fruits.append('tomoto')

fruits

['tomoto']

In [27]:
fruits.extend('apple')

fruits

['tomoto', 'a', 'p', 'p', 'l', 'e']

In [28]:
mylist = [11, 22, 33]
print(f"{mylist                 =}")  # [11, 22, 33]

mylist                 =[11, 22, 33]

In [29]:
mylist.insert(0, "a")

mylist

['a', 11, 22, 33]

In [30]:
mylist.insert(3, "b")

In [31]:
mylist

['a', 11, 22, 'b', 33]

In [32]:
mylist.insert(3, ["c", "d"])

mylist

['a', 11, 22, ['c', 'd'], 'b', 33]

In [33]:
# Question: How to make list.insert to work like list.append
mylist.insert(-1, "eeeeee")

mylist

['a', 11, 22, ['c', 'd'], 'b', 'eeeeee', 33]

In [34]:
mylist.insert(len(mylist), "ff")

In [35]:
mylist

['a', 11, 22, ['c', 'd'], 'b', 'eeeeee', 33, 'ff']

In [36]:
# Question: list.insert vs substitution

In [37]:
print(f"{mylist[3] =}")
mylist[3] = "god"    # substitution
print("After mylist[3] = 'god':\n\t", mylist)

mylist[3] =['c', 'd']
After mylist[3] = 'god':
	 ['a', 11, 22, 'god', 'b', 'eeeeee', 33, 'ff']

In [38]:
mylist[33] = 'god'

IndexError: list assignment index out of range

In [39]:
mylist.insert(33, "mad")

mylist

['a', 11, 22, 'god', 'b', 'eeeeee', 33, 'ff', 'mad']

In [40]:
# Question: list.pop() vs list.remove()

In [41]:
mylist.pop()

'mad'

In [42]:
mylist

['a', 11, 22, 'god', 'b', 'eeeeee', 33, 'ff']

In [43]:
mylist.pop()

'ff'

In [44]:
mylist

['a', 11, 22, 'god', 'b', 'eeeeee', 33]

In [45]:
mylist[3]    # indexing

'god'

In [46]:
mylist.pop(3) # removing element by index

'god'

In [47]:
mylist

['a', 11, 22, 'b', 'eeeeee', 33]

In [48]:
# To remove a specific element
mylist.remove('b')

In [49]:
mylist = [1, 11, 2, 11, 3, 11]

mylist.remove(11)

mylist    # first occurance is removed

[1, 2, 11, 3, 11]

In [50]:
# assignmnet - how to remove the first from right to left

In [51]:
mylist.remove('q')

ValueError: list.remove(x): x not in list

In [52]:
mylist = []

mylist.pop()

IndexError: pop from empty list

In [53]:
# del - can remove an element or some indexed positions
mylist = ["a", "b", "c", "d", "e", "f"]


print(f"{mylist       =}")
print(f"{mylist[3]    =}")
del mylist[3]
print("After del mylist[3]   =", mylist)

mylist       =['a', 'b', 'c', 'd', 'e', 'f']
mylist[3]    ='d'
After del mylist[3]   = ['a', 'b', 'c', 'e', 'f']

In [55]:
print(f"{mylist[0::2]          =}")
del mylist[0::2]
print("After del mylist[0::2]:", mylist)

mylist[0::2]          =['a', 'c', 'f']
After del mylist[0::2]: ['b', 'e']

In [56]:
# Question: list.clear vs del list

In [58]:
mylist.clear()

mylist

[]

In [59]:
del mylist

In [60]:
mylist

NameError: name 'mylist' is not defined

#### List Attributes
    index,reverse,sort,
    sorted(), reversed()

In [61]:
# list.index - gives the position of an element in that list
numbers = [123, 324, 2, 213, 125, 125]
#           0   1    2   3    4    5

In [62]:
numbers[4]    # give index -> get value

125

In [64]:
numbers.index(125) # give value -> get index; left to right

4

In [65]:
numbers.index(324)

1

In [66]:
numbers.index?

Signature: numbers.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [69]:
numbers.index(125, 4) # start index is 4

4

In [70]:
numbers.index(125, 5)  # from start index as 5

5

In [71]:
# Question: list.sort() vs sorted()

In [72]:
numbers

[123, 324, 2, 213, 125, 125]

In [73]:
id(numbers)

129787377756352

In [74]:
sorted(numbers)

[2, 123, 125, 125, 213, 324]

In [75]:
sorted(numbers, reverse=True)

[324, 213, 125, 125, 123, 2]

In [76]:
numbers    # sorted() will not change the original object values

[123, 324, 2, 213, 125, 125]

In [77]:
numbers.sort()

In [78]:
numbers  #  changes are applied on the original object

[2, 123, 125, 125, 213, 324]

In [79]:
numbers.sort(reverse=True)

numbers

[324, 213, 125, 125, 123, 2]

In [80]:
names = ['zoe', 'Ani', 'Rebaka', 'John', 'Henry']

In [81]:
reversed(names)

In [83]:
for name in reversed(names):
    print(name, end = ', ')

Henry, John, Rebaka, Ani, zoe,

In [84]:
list(reversed(names))       # it will revese the order of values

['Henry', 'John', 'Rebaka', 'Ani', 'zoe']

In [85]:
names        # reversed() function will not apply changes on to the original object

['zoe', 'Ani', 'Rebaka', 'John', 'Henry']

In [86]:
names.reverse()

names

['Henry', 'John', 'Rebaka', 'Ani', 'zoe']

In [87]:
names.reverse()

names

['zoe', 'Ani', 'Rebaka', 'John', 'Henry']

In [88]:
mylist = [1, 2, 9, True, False]

mylist.sort()      # Python uses Timsort for sorting algorithms - Time complexity -- O(Nlogn)

In [89]:
mylist

[False, 1, True, 2, 9]

In [90]:
mylist = [1, 2, 9, "1", "2", "9", "a", "z", "A", "Z", True, False, None]

mylist.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [91]:
mylist = ["1", "2", "9", "a", "z", "A", "Z"]
# NOTE: sorting based on ascii position

sorted(mylist)

['1', '2', '9', 'A', 'Z', 'a', 'z']

In [92]:
ord('A')

65

In [93]:
ord('a')

97

In [97]:
sorted(mylist, reverse=True)

['z', 'a', 'Z', 'A', '9', '2', '1']