In [1]:
mylist = [12, 34.8, 500000, [6, 8], (5,)]


print("type(mylist)", type(mylist))
print("len(mylist)", len(mylist))

type(mylist) <class 'list'>
len(mylist) 5

In [2]:
mytuple = (12, 34.8, 500000, [6, 8], (5,))


print("\ntype(mytuple)", type(mytuple))
print("len(mytuple)", len(mytuple))
print(mytuple)

type(mytuple) <class 'tuple'>
len(mytuple) 5
(12, 34.8, 500000, [6, 8], (5,))

In [3]:
another_tuple = (99)

print("type(another_tuple)", type(another_tuple))
print("len(another_tuple) ", len(another_tuple))

type(another_tuple) <class 'int'>

TypeError: object of type 'int' has no len()

In [4]:
another_tuple = (99,)

print("type(another_tuple)", type(another_tuple))
print("len(another_tuple) ", len(another_tuple))

type(another_tuple) <class 'tuple'>
len(another_tuple)  1

In [5]:
# NOTE: For tuple with single element, place comma at the end
# to recognize it as tuple; else recognizes as individual element

In [6]:
empty_tuple = ()  # tuple()
print("type(empty_tuple):", type(empty_tuple))
print("len(empty_tuple) :", len(empty_tuple))

type(empty_tuple): <class 'tuple'>
len(empty_tuple) : 0

In [7]:
mytuple = 1, 2, 3
print("type(mytuple)    :", type(mytuple))
print("len(mytuple)     :", len(mytuple))
print(mytuple)

type(mytuple)    : <class 'tuple'>
len(mytuple)     : 3
(1, 2, 3)

In [8]:
mytuple = (1,)
print("type(mytuple)    :", type(mytuple))
print("len(mytuple)     :", len(mytuple))
print(mytuple)

type(mytuple)    : <class 'tuple'>
len(mytuple)     : 1
(1,)

In [9]:
mytuple = ((1,))
print("type(mytuple)    :", type(mytuple))
print("len(mytuple)     :", len(mytuple))
print(mytuple)

type(mytuple)    : <class 'tuple'>
len(mytuple)     : 1
(1,)

In [10]:
mytuple = ((1,),)
print("type(mytuple)    :", type(mytuple))
print("len(mytuple)     :", len(mytuple))
print(mytuple)

type(mytuple)    : <class 'tuple'>
len(mytuple)     : 1
((1,),)

###  Tuple attributes

In [11]:
mytuple = (12, 5, 6, 8, (5,))
print(dir(mytuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [13]:
for attrib in dir(mytuple):
    if not attrib.startswith('__'):
        print(attrib, end = ', ')

count, index,

In [14]:
print("len(mytuple)           =", len(mytuple))
print("mytuple.__len__()      =", mytuple.__len__())
assert len(mytuple) == mytuple.__len__()

len(mytuple)           = 5
mytuple.__len__()      = 5

In [15]:
print("str(mytuple)           =", str(mytuple))
print("type(str(mytuple))     =", type(str(mytuple)))
print("mytuple.__str__()      =", mytuple.__str__())
print("type(mytuple.__str__())=", type(mytuple.__str__()))
assert str(mytuple) == mytuple.__str__()

str(mytuple)           = (12, 5, 6, 8, (5,))
type(str(mytuple))     = <class 'str'>
mytuple.__str__()      = (12, 5, 6, 8, (5,))
type(mytuple.__str__())= <class 'str'>

In [16]:
# Tuple repetition operation - original object not modified
print()
print("mytuple * 3            =", mytuple * 3)
print("mytuple                =", mytuple)
print("mytuple.__mul__(3)     =", mytuple.__mul__(3))
print("mytuple                =", mytuple)

mytuple * 3            = (12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,))
mytuple                = (12, 5, 6, 8, (5,))
mytuple.__mul__(3)     = (12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,))
mytuple                = (12, 5, 6, 8, (5,))

In [17]:
print("mytuple                =", mytuple)
print("mytuple.count(5)       =", mytuple.count(5))

mytuple                = (12, 5, 6, 8, (5,))
mytuple.count(5)       = 1

In [18]:
mytuple = (12, 5, 6, 8, (5))
#          0   1  2  3   4
print("mytuple                =", mytuple)
print("mytuple.count(5)       =", mytuple.count(5))

mytuple                = (12, 5, 6, 8, 5)
mytuple.count(5)       = 2

In [19]:
print("mytuple.index(8)       =", mytuple.index(8))
print("mytuple.index(5)       =", mytuple.index(5))

mytuple.index(8)       = 3
mytuple.index(5)       = 1

In [20]:
try:
    print("mytuple.index(55)      =", mytuple.index(55))
except ValueError as ex:
    print(ex)

tuple.index(x): x not in tuple

In [21]:
# Tuple concatenation


# Python is strictly type language
#   - operation is possible with same/similar types only
result = (9, 99) + (99,)
print("result   :", result)

result   : (9, 99, 99)

In [22]:
result = ((9, 99) + (99,),)
print("result   :", result)

result   : ((9, 99, 99),)

In [23]:
result = (9, 99) + (99,),,

SyntaxError: invalid syntax (3965477775.py, line 1)

In [24]:
result = ((9, 99) + ((99,),),)
print("result   :", result)

result   : ((9, 99, (99,)),)

In [25]:
result = (9, 99) + (11, 1)
print("result   :", result)

result   : (9, 99, 11, 1)

In [26]:
result = (9, 99) + [11, 1]

TypeError: can only concatenate tuple (not "list") to tuple

In [27]:
result = (9, 99) + tuple([11, 1])
print("result   :", result)


result = list((9, 99)) + [11, 1]
print("result   :", result)

result   : (9, 99, 11, 1)
result   : [9, 99, 11, 1]

In [28]:
# working on strings
print(f"{list('Python')  =}")
print(f"{tuple('Python') =}")

list('Python')  =['P', 'y', 't', 'h', 'o', 'n']
tuple('Python') =('P', 'y', 't', 'h', 'o', 'n')

In [29]:
# Tuple repetition
print(f"{(1,) * 3      =}")
print(f"{(1, 2) * 3    =}")
print(f"{(1, (2,)) * 3 =}")

(1,) * 3      =(1, 1, 1)
(1, 2) * 3    =(1, 2, 1, 2, 1, 2)
(1, (2,)) * 3 =(1, (2,), 1, (2,), 1, (2,))

In [30]:
# Assignment
# 1. Prove that tuple concatenation is not commutative: t1 + t2 != t2 + t1
# 2. Prove that tuple repetition is commutative       : t1 * 3 == 3 * t1

## Tuples are immutable

In [31]:
mytuple = (1, 2, 3)
print("mytuple", mytuple, id(mytuple))

mytuple (1, 2, 3) 130668625464384

In [32]:
#  Indexing
print(f"{mytuple[2] =}")

mytuple[2] =3

In [33]:
# updating an element in tuple
try:
    mytuple[2] = "2.2222"
except TypeError as ex:
    print(ex)
    print("tuple objects are not editable")

'tuple' object does not support item assignment
tuple objects are not editable

In [34]:
# Overwriting
print("\noverwriting (re-assigning)")
mytuple = (1, "2.2222", 3)
print("mytuple", mytuple, id(mytuple))

overwriting (re-assigning)
mytuple (1, '2.2222', 3) 130668625634688

### Unpacking

    - works when same no. of variables and values
      are present on both sides

In [35]:
num1 = 12
num2 = 34
print(f"num1 = {num1}  num2 = {num2}")

num1 = 12  num2 = 34

In [36]:
# unpacking
num1, num2 = 12, 34
print(f"num1 = {num1}  num2 = {num2}")

num1 = 12  num2 = 34

In [37]:
p1, p2, p3, p4, p5 = 99, 88, 66, 77, 44
print(f"p1 = {p1}  p2 = {p2} p3 = {p3} p4 = {p4} p5 = {p5}")

p1 = 99  p2 = 88 p3 = 66 p4 = 77 p5 = 44

In [38]:
try:
    p1, p2, p3, p4 = 99, 88, 66, 77, 44
except ValueError as ex:
    print(ex)

too many values to unpack (expected 4)

In [39]:
try:
    p1, p2, p3, p4, p5, p6 = 99, 88, 66, 77, 44
except ValueError as ex:
    print(ex)

not enough values to unpack (expected 6, got 5)

In [40]:
p = 99, 88, 66, 77, 44
print(f"p={p} type(p)={type(p)}")

p=(99, 88, 66, 77, 44) type(p)=<class 'tuple'>

In [41]:
n1, n2 = 1, 2, 3, 4, 5

ValueError: too many values to unpack (expected 2)

In [42]:
n1, *n2 = 1, 2, 3, 4, 5
print(f"n1={n1} \nn2={n2}")

n1=1
n2=[2, 3, 4, 5]

In [43]:
n1, *n2, n3 = 1, 2, 3, 4, 5
print(f"n1={n1} \nn2={n2} \nn3={n3}")  # n2 is of type list

n1=1
n2=[2, 3, 4]
n3=5

In [44]:
n1, n2, *n3 = 1, 2, 3, 4, 5
print(f"n1={n1} \nn2={n2} \nn3={n3}")

n1=1
n2=2
n3=[3, 4, 5]